.ant-radio-button-wrapper-checked {
  background-color: #fa8c16 !important;
  border-color: #fa8c16 !important;
  color: white !important; 
}

.ant-radio-button-wrapper:not(.ant-radio-button-wrapper-checked):hover {
  color: #fa8c16 !important; 
  border-color: #fa8c16 !important; 
  background-color: #fff7e6 !important; 
}

.ant-radio-button-wrapper:focus-within {
  box-shadow: none !important;
  outline: none !important;
}

.ant-input:hover,
.ant-input-number:hover,
.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: #fa8c16 !important;
}

.ant-input:focus,
.ant-input-focused,
.ant-input-number:focus,
.ant-input-number-focused,
.ant-select-focused:not(.ant-select-disabled) .ant-select-selector,
.ant-select:focus-within .ant-select-selector {
  
  border-color: #fa8c16 !important; 
  
  
  box-shadow: 0 0 0 2px rgba(250, 140, 22, 0.2) !important; 
  
  outline: 0; 
}